<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbarn.im.mapper.MessageMapper">

    <resultMap id="message" type="com.carbarn.im.pojo.Message">
        <id column="id" property="id"/>
        <result column="conversation_id" property="conversationId"/>
        <result column="sender_id" property="senderId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="source_lang" property="sourceLang"/>
        <result column="target_lang" property="targetLang"/>
        <result column="translated_content" property="translatedContent"/>
        <result column="send_time" property="sendTime"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="unreadMessageCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        message
        WHERE receiver_id = #{userId}
        and conversation_id = #{conversationId}
        and status = 0
    </select>

    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message
        (conversation_id, sender_id, receiver_id,type, content,source_lang,target_lang,translated_content, send_time,
        status, is_deleted)
        VALUES
        (#{message.conversationId}, #{message.senderId}, #{message.receiverId},#{message.type},
        #{message.content},#{message.sourceLang},#{message.targetLang},#{message.translatedContent},
        #{message.sendTime}, #{message.status}, 0)
    </insert>

    <select id="getLastMessage" resultMap="message">
        SELECT
        id,
        conversation_id,
        sender_id,
        receiver_id,
        type,
        content,
        source_lang,
        target_lang,
        translated_content,
        send_time,
        receive_time,
        status
        FROM
        message
        WHERE conversation_id = #{conversationId}
        ORDER BY send_time DESC
        LIMIT 1
    </select>

    <select id="getUnreadMessages" resultMap="message">
        SELECT
        id,
        conversation_id,
        sender_id,
        receiver_id,
        type,
        content,
        source_lang,
        target_lang,
        translated_content,
        send_time,
        receive_time,
        status
        FROM
        message
        WHERE conversation_id = #{conversationId}
        and receiver_id = #{userId}
        and status = 0
    </select>

    <update id="updateMessageStatus">
        UPDATE message
        SET status = 1,
        receive_time = UNIX_TIMESTAMP() * 1000
        WHERE
        receiver_id = #{userId}
        and status = 0
        <if test="conversationId != null">
            and conversation_id = #{conversationId}
        </if>
    </update>

    <select id="getAllMessages" resultMap="message">
        SELECT
        id,
        conversation_id,
        sender_id,
        receiver_id,
        type,
        content,
        send_time,
        receive_time,
        source_lang,
        target_lang,
        translated_content,
        status
        FROM
        message
        WHERE conversation_id = #{conversationId}
        ORDER BY send_time DESC
    </select>
</mapper>