<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbarn.inter.mapper.AreaMapper">

    <select id="getProvince" resultType="com.carbarn.inter.pojo.area.AreaPOJO">
        select
        name,
        code
        from
        area
        where
        level = 1
    </select>

    <select id="getCity" resultType="com.carbarn.inter.pojo.area.AreaPOJO">
        select
        name,
        code
        from
        area
        where
        level = 2
        and parent_code = #{code}
    </select>

</mapper>