<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbarn.inter.mapper.CarsMapper">

    <select id="getCars" resultType="com.carbarn.inter.pojo.dto.cars.FirstPageCarsDTO">
        SELECT
        id,user_id,name,plate_issue_date,mileage,price,upload_date,city,header_picture
        FROM
        cars
        where
        is_deal = 0
        order by upload_date desc
    </select>


    <!--<select id="searchCars" resultType="com.carbarn.inter.pojo.dto.cars.FirstPageCarsDTO">

        select
        a.id as id,
        a.user_id as user_id,
        concat(b.brand, " ", c.series, " ", d.`type`) as name,
        a.plate_issue_date as plate_issue_date,
        a.mileage as mileage,
        a.price as price,
        a.upload_date as upload_date,
        a.city as city,
        a.header_picture as header_picture,
        a.manufacture_date as manufacture_date
        from
        (SELECT
        *
        FROM
        cars
        <where>
            <if test="brand_id != -1">
                AND brand_id = #{brand_id}
            </if>
            <if test="series_id != -1">
                AND series_id = #{series_id}
            </if>
            <if test="type_id != -1">
                AND type_id = #{type_id}
            </if>
            <if test="plate_issue_date != null">
                AND plate_issue_date = #{plate_issue_date}
            </if>
            <if test="type_of_car != -1">
                AND type_of_car = #{type_of_car}
            </if>
            <if test="displacement != 0.0 and displacement_type != null">
                AND displacement = #{displacement} AND displacement_type = #{displacement_type}
            </if>
            <if test="color != -1">
                AND color = #{color}
            </if>
            <if test="origin_country != -1">
                AND origin_country = #{origin_country}
            </if>
            <if test="transmission != -1">
                AND transmission = #{transmission}
            </if>
            <if test="type_of_manu != -1">
                AND type_of_manu = #{type_of_manu}
            </if>
            <if test="emission_standards != -1">
                AND emission_standards = #{emission_standards}
            </if>
            <if test="seat_capacity != -1">
                AND seat_capacity = #{seat_capacity}
            </if>
            <if test="engine != -1">
                AND engine = #{engine}
            </if>
            <if test="drive_type != -1">
                AND drive_type = #{drive_type}
            </if>
            <if test="box != -1">
                AND box = #{box}
            </if>
            <if test="car_age_up_limit != 0.0 or car_age_low_limit != 0.0">
                AND car_age BETWEEN #{car_age_low_limit} AND #{car_age_up_limit}
            </if>
            <if test="price_up_limit != 0.0 or price_lower_limit != 0.0">
                AND price BETWEEN #{price_lower_limit} AND #{price_up_limit}
            </if>
            <if test="mileage_up_limit != 0.0 or mileage_lower_limit != 0.0">
                AND mileage BETWEEN #{mileage_lower_limit} AND #{mileage_up_limit}
            </if>
        and is_deal = 0
        </where>
        ) a left join (select brand_id, brand from car_brand where `language`= #{language}) b on a.brand_id = b.brand_id
        left join (select series_id, series from car_series where `language`= #{language}) c on a.series_id = c.series_id
        left join (select type_id, `type` from car_type where `language`= #{language}) d on a.type_id = d.type_id
        where b.brand_id is not null and c.series_id is not null and d.type_id is not null
        order by ${order_field} ${order_way}
        limit #{pageStart}, #{pageSize}
    </select>-->

    <select id="searchCars" resultType="com.carbarn.inter.pojo.dto.cars.FirstPageCarsDTO">

        select
        a.id as id,
        a.user_id as user_id,
        concat(b.brand, " ", c.series, " ", d.`type`) as name,
        a.plate_issue_date as plate_issue_date,
        a.mileage as mileage,
        a.price as price,
        a.upload_date as upload_date,
        a.city as city,
        a.header_picture as header_picture,
        a.manufacture_date as manufacture_date
        from
        (SELECT
        *
        FROM
        cars
        <where>
            <if test="brand_id != -1">
                AND brand_id = #{brand_id}
            </if>
            <if test="series_id != -1">
                AND series_id = #{series_id}
            </if>
            <if test="type_id != -1">
                AND type_id = #{type_id}
            </if>
            <if test="plate_issue_date != null">
                AND plate_issue_date = #{plate_issue_date}
            </if>
            <if test="province != null and province != null">
                AND province = #{province}
            </if>
            <if test="city != null and city != ''">
                AND city = #{city}
            </if>
            <if test="type_of_car != null and !type_of_car.isEmpty()">
                AND type_of_car IN
                <foreach item="item" collection="type_of_car" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="displacement != 0.0 and displacement_type != null">
                AND displacement = #{displacement} AND displacement_type = #{displacement_type}
            </if>
            <if test="color != null and !color.isEmpty()">
                AND color IN
                <foreach item="item" collection="color" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="origin_country != null and !origin_country.isEmpty()">
                AND origin_country IN
                <foreach item="item" collection="origin_country" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="transmission != null and !transmission.isEmpty()">
                AND transmission IN
                <foreach item="item" collection="transmission" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="type_of_manu != null and !type_of_manu.isEmpty()">
                AND type_of_manu IN
                <foreach item="item" collection="type_of_manu" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="emission_standards != null and !emission_standards.isEmpty()">
                AND emission_standards IN
                <foreach item="item" collection="emission_standards" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="seat_capacity != -1">
                AND seat_capacity = #{seat_capacity}
            </if>
            <if test="engine != null and !engine.isEmpty()">
                AND engine IN
                <foreach item="item" collection="engine" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="drive_type != null and !drive_type.isEmpty()">
                AND drive_type IN
                <foreach item="item" collection="drive_type" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="box != null and !box.isEmpty()">
                AND box IN
                <foreach item="item" collection="box" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="price_up_limit != 0.0 or price_lower_limit != 0.0">
                AND price BETWEEN #{price_lower_limit} AND #{price_up_limit}
            </if>
            <if test="mileage_up_limit != 0.0 or mileage_lower_limit != 0.0">
                AND mileage BETWEEN #{mileage_lower_limit} AND #{mileage_up_limit}
            </if>
            and is_deal = 0
        </where>
        ) a left join (select brand_id, brand from car_brand where `language`= #{language}) b on a.brand_id = b.brand_id
        left join (select series_id, series from car_series where `language`= #{language}) c on a.series_id = c.series_id
        left join (select type_id, `type` from car_type where `language`= #{language}) d on a.type_id = d.type_id
        where b.brand_id is not null and c.series_id is not null and d.type_id is not null
        order by ${order_field} ${order_way}
        limit #{pageStart}, #{pageSize}
    </select>

    <select id="searchCarsByKeywords" resultType="com.carbarn.inter.pojo.dto.cars.FirstPageCarsDTO">

        select
        a.id as id,
        a.user_id as user_id,
        concat(b.brand, " ", c.series, " ", d.`type`) as name,
        a.plate_issue_date as plate_issue_date,
        a.mileage as mileage,
        a.price as price,
        a.upload_date as upload_date,
        a.city as city,
        a.header_picture as header_picture,
        a.manufacture_date as manufacture_date
        from
        (SELECT
        *
        FROM
        cars
        <where>
            <if test="brandIds != null and !brandIds.isEmpty() or seriesIds != null and !seriesIds.isEmpty()">
                AND (
                <if test="brandIds != null and !brandIds.isEmpty()">
                    brand_id IN
                    <foreach item="item" collection="brandIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="seriesIds != null and !seriesIds.isEmpty()">
                    <choose>
                        <when test="brandIds != null and !brandIds.isEmpty()">
                            OR series_id IN
                        </when>
                        <otherwise>
                            series_id IN
                        </otherwise>
                    </choose>
                    <foreach item="item" collection="seriesIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                )
            </if>
            <if test="searchCarsDTO.plate_issue_date != null">
                AND plate_issue_date = #{searchCarsDTO.plate_issue_date}
            </if>
            <if test="searchCarsDTO.province != null and searchCarsDTO.province != ''">
                AND province = #{searchCarsDTO.province}
            </if>
            <if test="searchCarsDTO.city != null and searchCarsDTO.city != ''">
                AND city = #{searchCarsDTO.city}
            </if>
            <if test="searchCarsDTO.type_of_car != null and !searchCarsDTO.type_of_car.isEmpty()">
                AND type_of_car IN
                <foreach item="item" collection="searchCarsDTO.type_of_car" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.displacement != 0.0 and searchCarsDTO.displacement_type != null">
                AND displacement = #{searchCarsDTO.displacement} AND displacement_type = #{searchCarsDTO.displacement_type}
            </if>
            <if test="searchCarsDTO.color != null and !searchCarsDTO.color.isEmpty()">
                AND color IN
                <foreach item="item" collection="searchCarsDTO.color" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.origin_country != null and !searchCarsDTO.origin_country.isEmpty()">
                AND origin_country IN
                <foreach item="item" collection="searchCarsDTO.origin_country" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.transmission != null and !searchCarsDTO.transmission.isEmpty()">
                AND transmission IN
                <foreach item="item" collection="searchCarsDTO.transmission" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.type_of_manu != null and !searchCarsDTO.type_of_manu.isEmpty()">
                AND type_of_manu IN
                <foreach item="item" collection="searchCarsDTO.type_of_manu" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.emission_standards != null and !searchCarsDTO.emission_standards.isEmpty()">
                AND emission_standards IN
                <foreach item="item" collection="searchCarsDTO.emission_standards" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.seat_capacity != -1">
                AND seat_capacity = #{seat_capacity}
            </if>
            <if test="searchCarsDTO.engine != null and !searchCarsDTO.engine.isEmpty()">
                AND engine IN
                <foreach item="item" collection="searchCarsDTO.engine" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.drive_type != null and !searchCarsDTO.drive_type.isEmpty()">
                AND drive_type IN
                <foreach item="item" collection="searchCarsDTO.drive_type" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.box != null and !searchCarsDTO.box.isEmpty()">
                AND box IN
                <foreach item="item" collection="searchCarsDTO.box" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchCarsDTO.price_up_limit != 0.0 or searchCarsDTO.price_lower_limit != 0.0">
                AND price BETWEEN #{searchCarsDTO.price_lower_limit} AND #{searchCarsDTO.price_up_limit}
            </if>
            <if test="searchCarsDTO.mileage_up_limit != 0.0 or searchCarsDTO.mileage_lower_limit != 0.0">
                AND mileage BETWEEN #{searchCarsDTO.mileage_lower_limit} AND #{searchCarsDTO.mileage_up_limit}
            </if>
            and is_deal = 0
        </where>
        ) a left join (select brand_id, brand from car_brand where `language`= #{searchCarsDTO.language}) b on a.brand_id = b.brand_id
        left join (select series_id, series from car_series where `language`= #{searchCarsDTO.language}) c on a.series_id = c.series_id
        left join (select type_id, `type` from car_type where `language`= #{searchCarsDTO.language}) d on a.type_id = d.type_id
        where b.brand_id is not null and c.series_id is not null and d.type_id is not null
        order by ${searchCarsDTO.order_field} ${searchCarsDTO.order_way}
        limit #{searchCarsDTO.pageStart}, #{searchCarsDTO.pageSize}
    </select>

    <select id="getCarsByID" resultType="com.carbarn.inter.pojo.CarsPOJO">
        SELECT
        *,
        label as label_string,
        car_condition as car_condition_string,
        coating as coating_string,
        component as component_string,
        engine_condition as engine_condition_string,
        transmission_condition as transmission_condition_string,
        number_of_transfers as number_of_transfers_string,
        mileage_contition as mileage_contition_string
        FROM
        cars
        where
        id = #{id}
    </select>


    <select id="getCarsOfUsers" resultType="com.carbarn.inter.pojo.dto.cars.CarsOfUsersDTO">

        select
        a.user_id,
        b.user_name,
        a.carsnum_of_users,
        a.deal_carsnum_of_users
        from
        (SELECT
        user_id,
        count(*) as carsnum_of_users,
        sum(is_deal) as deal_carsnum_of_users
        FROM
        cars
        where
        user_id = #{userid}
        group by user_id
        ) a
        left join users b on a.user_id = b.id

    </select>

    <insert id="insertNewCar" parameterType="com.carbarn.inter.pojo.CarsPOJO">
        insert into cars
        (user_id,brand_id,series_id,type_id,color,engine,transmission,
        emission_standards,type_of_manu,type_of_car,origin_country,drive_type,
        box,displacement,displacement_type,seat_capacity,new_car_price,ctali_date,
        avi_date,car_age,mileage,vin,manufacture_date,plate_issue_date,price,floor_price,guide_price,
        power,battery_capacity,pure_electric_range,province,city,is_deal,is_lock,state,
        description,header_picture,all_pictures,proof,label,inspection_report,
        car_condition,coating,component,engine_condition,transmission_condition,
        number_of_transfers,mileage_contition,car_condition_desc)
        values
        (#{user_id},#{brand_id},#{series_id},#{type_id},#{color},#{engine},#{transmission},
        #{emission_standards},#{type_of_manu},#{type_of_car},#{origin_country},#{drive_type},
        #{box},#{displacement},#{displacement_type},#{seat_capacity},#{new_car_price},#{ctali_date},
        #{avi_date},#{car_age},#{mileage},#{vin},#{manufacture_date},#{plate_issue_date},#{price},#{floor_price},#{guide_price},
        #{power},#{battery_capacity},#{pure_electric_range},#{province},#{city},#{is_deal},#{is_lock},#{state},
        #{description},#{header_picture},#{all_pictures},#{proof},#{label_string},#{inspection_report},
        #{car_condition_string},#{coating_string},#{component_string},#{engine_condition_string},#{transmission_condition_string},
        #{number_of_transfers_string},#{mileage_contition_string},#{car_condition_desc})
    </insert>

    <select id="existsByVin" resultType="java.lang.Boolean">
        SELECT
        COUNT(*) as bool
        FROM
        cars
        WHERE vin = #{vin}
    </select>

    <select id="getCarTypeDetails" resultType="java.lang.String">
        select
        details
        from
        car_type
        where type_id = #{type_id}
        and `language` = #{language}
        limit 1
    </select>

    <insert id="insertVin" parameterType="com.carbarn.inter.pojo.vin.VinPOJO">
        insert into vin
        (vin, infos)
        values
        (#{vin},#{infos})
    </insert>

    <select id="getVinInfos" resultType="com.carbarn.inter.pojo.vin.VinPOJO">
        SELECT
        id, vin, infos
        FROM
        vin
        WHERE vin = #{vin}
        limit 1
    </select>
</mapper>