<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbarn.inter.mapper.PayMapper">

    <!--    <insert id="insertNewPreOrder" parameterType="com.carbarn.inter.pojo.pay.PreOrderPojo">-->
    <!--        insert into payment-->
    <!--        (user_id,encoding,sdkAppId,certId,signAture,txnType,txnSubType,-->
    <!--        aesWay,merId,merName,secMerId,backEndUrl,frontEndUrl,txnOrderId,-->
    <!--        txnOrderTime,txnOrderBody,txnAmt,txnCcyType,tokenCode,tokenEnd,-->
    <!--        tokenType,tokenBegin,respTxnSsn,respTxnTime,respMsg)-->
    <!--        values-->
    <!--        (#{user_id},#{encoding},#{sdkAppId},#{certId},#{signAture},#{txnType},#{txnSubType},-->
    <!--        #{aesWay},#{merId},#{merName},#{secMerId},#{backEndUrl},#{frontEndUrl},#{txnOrderId},-->
    <!--        #{txnOrderTime},#{txnOrderBody},#{txnAmt},#{txnCcyType},#{tokenCode},#{tokenEnd},-->
    <!--        #{tokenType},#{tokenBegin},#{respTxnSsn},#{respTxnTime},#{respMsg})-->
    <!--    </insert>-->


    <insert id="insertNewOrder" parameterType="com.carbarn.inter.pojo.pay.OrderPOJO">
        insert into payment
        (user_id,order_type,cusid,appid,version,trxamt,reqsn,expiretime,notify_url,
        validtime,body,limit_pay,randomstr,paytype,signtype,sign,isdirectpay)
        values
        (#{user_id},#{order_type},#{cusid},#{appid},#{version},#{trxamt},#{reqsn},
        #{expiretime},#{notify_url},#{validtime},#{body},
        #{limit_pay},#{randomstr},#{paytype},#{signtype},#{sign},#{isdirectpay})
    </insert>


    <insert id="insertPayCallback" parameterType="com.carbarn.inter.pojo.pay.PayCallBackPOJO">
        insert into payment_callback
        (appid,outtrxid,trxcode,trxid,initamt,trxamt,
        trxdate,paytime,chnltrxid,trxstatus,cusid,
        termno,termbatchid,termtraceno,termauthno,
        termrefnum,trxreserved,srctrxid,cusorderid,
        acct,fee,signtype,cmid,chnlid,chnldata,accttype,
        bankcode,logonid,sign,tlopenid)
        values
        (#{appid},#{outtrxid},#{trxcode},#{trxid},#{initamt},#{trxamt},
        #{trxdate},#{paytime},#{chnltrxid},#{trxstatus},#{cusid},
        #{termno},#{termbatchid},#{termtraceno},#{termauthno},
        #{termrefnum},#{trxreserved},#{srctrxid},#{cusorderid},
        #{acct},#{fee},#{signtype},#{cmid},#{chnlid},#{chnldata},
        #{accttype},#{bankcode},#{logonid},#{sign},#{tlopenid})
    </insert>


    <select id="getDefaultOrderInfo" resultType="com.carbarn.inter.pojo.pay.OrderPOJO">
        select
        *
        from
        payment_default_info
        where enable_flag = 0
        limit 1
    </select>

    <select id="getUserIdByReqsn" resultType="java.lang.String">
        select
        user_id
        from
        payment
        where reqsn = #{outtrxid}
        limit 1
    </select>

    <select id="getOrderInfoByReqsn" resultType="com.carbarn.inter.pojo.pay.OrderPOJO">
        select
        *
        from
        payment
        where reqsn = #{reqsn}
        limit 1
    </select>


    <!--<update id="updaterespMsg" parameterType="com.carbarn.inter.pojo.pay.PayCallBackPOJO">
        update payment
        set respMsg = #{respMsg}
        where txnOrderId = #{txnOrderId}
    </update>-->

</mapper>