<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbarn.inter.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.carbarn.inter.pojo.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="signin" parameterType="com.carbarn.inter.pojo.User">
        insert into users (username, password)
        values(#{username}, #{password})
    </select>

    <!--普通用户注册接口，只需要电话号码，头像， 昵称即可-->
    <insert id="signup" parameterType="com.carbarn.inter.pojo.user.dto.SignupUserDTO">
        insert into users(user_count, phone_num, avatar, nickname, language, role)
        value(#{user_count}, #{phone_num}, #{avatar}, #{nickname}, #{language}, 0)
    </insert>

    <!--vip用户注册接口，只需要根据电话号码进行用户字段更新即可-->
    <update id="vipsignup" parameterType="com.carbarn.inter.pojo.user.dto.VipSignupUserDTO">
        update users
        set address = #{address},
        nickname = #{nickname},
        car_dealership = #{car_dealership},
        real_name = #{real_name},
        front_of_id = #{front_of_id},
        back_of_id = #{back_of_id}
        where id = #{id}
    </update>


    <!--更新用户昵称-->
    <update id="updateNickname">
        update users
        set nickname = #{nickname}
        where id = #{id}
    </update>

    <!--更新用户头像-->
    <update id="updateAvatar">
        update users
        set avatar = #{avatar}
        where id = #{id}
    </update>

    <update id="updateRole">
        update users
        set role = #{role}
        where id = #{user_id}
    </update>

    <update id="updateAddress">
        update users
        set address = #{address}
        where id = #{id}
    </update>

    <update id="updateCardealership">
        update users
        set car_dealership = #{car_dealership}
        where id = #{id}
    </update>

    <update id="updateUserInfo">
        update users
        set nickname = #{nickname},
        avatar = #{avatar},
        car_dealership = #{car_dealership},
        address = #{address}
        where id = #{id}
    </update>
    
    <update id="updateLanguage">
        update users
        set language = #{language}
        where id = #{id}
    </update>


    <select id="getUserInfoByPhoneNum" resultType="com.carbarn.inter.pojo.user.pojo.UserPojo">
        select *
        from users
        where phone_num = #{phone_num}
        and delete_flag = 0
    </select>

    <select id="getUserInfoByID" resultType="com.carbarn.inter.pojo.user.pojo.UserPojo">
        select *
        from users
        where id = #{id}
    </select>


    <select id="isPhoneNumExist" resultType="java.lang.Boolean">
        SELECT
        COUNT(*) as bool
        FROM
        users
        WHERE phone_num = #{phone_num}
        and delete_flag = 0
    </select>

    <select id="userViewCount" resultType="com.carbarn.inter.pojo.user.pojo.UserViewCountPojo">
        SELECT
        user_id,
        sum(view_count) as view_count,
        sum(viewed_count) as viewed_count,
        sum(contact_count) as contact_count,
        sum(contacted_count) as contacted_count
        FROM
        view_count
        WHERE
        user_id = #{user_id}
        group by user_id
    </select>

    <select id="userDtViewCount" resultType="com.carbarn.inter.pojo.user.pojo.UserViewCountPojo">
        SELECT
        user_id,
        dt,
        sum(view_count) as view_count,
        sum(viewed_count) as viewed_count,
        sum(contact_count) as contact_count,
        sum(contacted_count) as contacted_count
        FROM
        view_count
        WHERE
        user_id = #{user_id}
        and dt = #{dt}
        group by user_id, dt
    </select>


    <update id="deRegister">
        update users
        set delete_flag = 1
        where id = #{user_id}
    </update>
</mapper>